@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  text-align: center;
  margin-top: 20px;
}

.menu {
  width: 25%;
  border-radius: 0 !important;
}

.close {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 !important;
}

.modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.box {
  background-color: white;
  margin: 50px auto;
  max-width: 950px;
  min-width: 320px;
  min-height: 240px;
  font: 12px "verdana";
  padding: 5px 5px 5px 5px;
}

.box div {
  padding: 0;
  display: block;
  margin: 5px 0 0 0;
}

.box .heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #33a17f;
  font-weight: 300;
  text-align: left;
  color: #fff;
  margin: 0px;
  padding: 10px 10px 10px 10px;
}

.box .player {
  background: white;
}

.box .player .video {
  position: relative;
  padding-top: 56.25%;
}

.box .player .video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.pointer {
  cursor: pointer;
}

.play-button {
  width: 15px;
  height: 15px;
}

.play-button-disabled {
  opacity: 0.3;
}
